<div class="row px-5">
  <div class="col-lg-12">
    <div class="panel-body px-5">
      <div class="container pt-4">
        <%= form_with(model: @note, local: true) do |f| %>
          <% if @note.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@note.errors.count, "error") %> prohibited this   note from being saved:</h2>
              <ul>
                <% @note.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="row">
            <div class="form-group col-md-5">
              <%= f.label :name do %>
                Nome</span>
              <% end %>
              <%= f.text_field :name, class: 'form-control' %>
              <% if @note.errors[:name].present? %>
                <span class="help-block text-danger">
                  <small><%= @note.errors[:name].first %></small>
                </span>
              <% end %>
            </div>
            <div class="form-group col-md-4">
              <%= f.label :icon do %>
                Icon</span>
              <% end %>
              <div class="col-sm-12">
                <%= f.text_field :icon, class: 'form-control', placeholder: 'icon' %>
              </div>
            </div>
            <div class="form-group col-md-3">
              <%= f.label :color do %>
                Cor</span>
              <% end %>
              <div class="col-sm-12">
                <%= f.color_field :color, class: 'form-control', placeholder: 'color' %>
              </div>
            </div>
          </div>
          <div class="field">
            <%= f.label :content do %>
              Conteúdo</span>
            <% end %>
            <%= f.rich_text_area :content %>
          </div>
          <div class="row mt-3">
            <div class="col-sm-offset-2 col-sm-10 m-t-15">
              <%= f.submit 'Guardar', class: 'btn btn-primary' %>
              <%= link_to 'Cancelar', root_path, class: "btn btn-secondary m-l-5" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

  